.rtlContainer {
    direction: ltr !important;
    padding-right: 10px;
    margin-top: 15px;
    overflow-y: auto;
    max-height: 600px !important;

    scrollbar-color: rgb(219, 208, 206) #f9faf7;
    scrollbar-width: thin;
    /* Adjust height as needed */
}
